/* styles.css */
@font-face {
  font-family: 'Lato Hairline';
  src: url('Lato-Thin.ttf') format('truetype');
}

.custom-font {
  font-family: 'Lato Hairline', sans-serif; /* Use your custom font */
  font-size: 24px;
}
